# Weather API
OPENWEATHER_API_KEY=your-openweather-papi-key

# Hotel Pricing Comaprison
RAPIDAPI_BOOKING_KEY=your-bookingcom-rapidapi-key

# Ollama Configuration
OLLAMA_MODEL_NAME=your-ollama-model-name
OLLAMA_HOST=http://localhost:11434

# Database
DATABASE_PATH=sqlite:///wrangler.db